.popup__title {
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  color: #000;
  margin: 0;
  padding-bottom: 75px;
}
@media screen and (min-width: 1280px) {
  .popup__title {
    font-size: 24px;
    line-height: 1.2;
    padding-bottom: 54px;
  }
}
