.element__trash-button {
  background-image: url(../../../images/buttons/Trashbutton.svg);
  width: 18px;
  height: 19px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  visibility: hidden;
}
.element__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
