.profile__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.22;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 235px;
}
@media screen and (min-width: 1280px) {
  .profile__title {
    margin: 0;
    font-size: 42px;
    line-height: 1.14;
    max-width: 294px;
  }
}
