.content {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  max-width: calc(320px - 19px * 2);
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .content {
    padding-top: 40px;
    max-width: calc(1280px - 200px * 2);
  }
}
